.th-wrapper {
  display: flex;
  align-items: center;
}

.filter-column > button,
.filter-column > .th-wrapper > button {
  margin-left: 4px;
}

.sorting-column > span,
.sorting-column > .th-wrapper > span {
  vertical-align: middle;

  .sorting-buttons {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    margin-left: 4px;

    > button {
      display: flex;
    }
  }
}
