.invitation-create-dialog {
  #emails-list-group {
    min-height: 360px;

    table thead tr {
      background-color: transparent;

      td {
        padding-bottom: 0;
      }
    }
  }

  .custom-message {
    color: var(--bs-gray-500);

    a {
      text-decoration: underline;
      color: var(--bs-gray-500);
    }
  }
}
