.dropdown-item {
  color: $gray-700;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;

  .svg-icon {
    margin-right: 0.75rem;

    svg {
      height: 1.54rem !important;
      width: 1.54rem !important;
    }
  }
}

.dropdown-toggle.no-arrow {
  &::before,
  &::after {
    content: none;
  }
}
